@inject IJsonHelper Json;
@model VideoConverter.Models.UserModel

@{
    ViewData["Title"] = "VideoConverter";
	Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>VideoConverter</title>
		<!-- Google web fonts -->
		<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />

		<!-- The main CSS file -->
		<link href="~/css/style.css" rel="stylesheet" />
	</head>

	<body>
		<div id="convert-status">
			<script>
				var fileModelList = [];
			</script>
			<ul>
				@foreach (var file in @Model.Files)
				{
					<!--orange = #F7996E-->
					<li class="working" id="@file.Name">
						<input type="text" value="0" data-width="48" data-height="48" 
							data-fgColor="#6DA34D" data-readOnly="1" data-bgColor="#3e4043" />
						<p>@file.Name
							<i>@file.Size</i>
						</p>

						<span></span>

						<script>
							fileModelList.push(@Html.Raw(Json.Serialize(file)));
						</script>
					</li>
				}
			</ul>
		</div>
		<div id="download">
			<input type="hidden" id="fileList" name="fileList" value="" />
			<button id="download-button" type="submit" disabled >Download</button>
		</div>
		
        
		<!-- JavaScript Includes -->
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/jquery-knob/jquery.knob.js"></script>

		<!-- jQuery File Upload Dependencies -->
		<script src="~/lib/jquery-ui-widget/jquery.ui.widget.js"></script>
		<script src="~/lib/jquery-iframe-transport/jquery.iframe-transport.js"></script>
		<script src="~/lib/jquery-fileupload/jquery.fileupload.min.js"></script>
		
		<!-- Our main JS file -->
		<script src="~/js/converter.js"></script>

	</body>
</html>
